{{ $data := site.Data }}

{{ with $data.homepage.success_story }}
<section class="section bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
        <a class="play-btn venobox" href="{{ .video_link | safeURL }}" data-vbtype="video">
          <i class="ti-control-play"></i>
        </a>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
          <!-- Feature Cards - Right after the title -->
          {{ with site.Data.homepage.success_story.themes }}
          <div class="row mt-4">
            {{ range $i, $theme := . }}
            <div class="col-6 mb-3 d-flex">
              <div class="card h-100 text-center shadow feature-card flex-fill">
                <div class="card-body">
                  <div class="feature-icon mb-3" style="font-size: 2.5rem;">
                    {{ $theme.icon | safeHTML }}
                  </div>
                  <h5 class="card-title">{{ $theme.title }}</h5>
                  <p class="card-text">{{ $theme.desc }}</p>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}